@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*  Noto Sans KR을 전역으로 공통폰트, 배스킨라빈스체는 tailwind.config 참조  */
  font-family: "Noto Sans KR", sans-serif;
  min-width: 375px;
}

@font-face {
  font-family: "BaskinRobbins";
  src: url("/fonts/br-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 35%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 64 100% 51%;
    --primary-foreground: 0 0% 6%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 35%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 35%;
    --input: 0 0% 87%;
    --border: 0 0% 35%;
    --input: 0 0% 87%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --gray-100: 0 0% 93%;
    --gray-300: 0 0% 64%;
    --gray-400: 0 0% 35%;
    --gray-500: 0 0% 9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
