@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {      /*  Noto Sans KR을 전역으로 공통폰트, 배스킨라빈스체는 tailwind.config 참조  */
  font-family: 'Noto Sans KR', sans-serif; 
}

@font-face {
  font-family: 'BaskinRobbins';
  src: url('/fonts/br-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
